.text-center{
  text-align: center;
  color:rgb(76, 7, 7);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
}

.bg-red{
  background: red;
}

.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}